/* h2 {
  text-align: center;
}

.tasksFrame {
  position: relative;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.tasksList {
  position: relative;
  display: flex;
  flex-direction: column;
}
*/
